<!DOCTYPE html>
<html>
<head>
  <title>SOA_OAuth_Homework</title>
  <meta property="wb:webmaster" content="87bc300eb6529bf0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href="<%= image_path "favicon.ico.png" %>" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
